body {
    margin: 0;
    background: hsl(30, 38%, 92%);
    font-size: 18px;
    color: grey;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
  }
  
  main {

    margin: 1em;
    border-radius: 0.5em;
    background: white;
  }

  #preview img {
    width: 100%;
    height: 100%;
    border-radius: 0.5em 0.5em 0 0;
    flex-basis: 100%;
  }

  #text {
    flex-basis: 100%;
  }

  @media (min-width: 1280px) {
    main {
        max-width: 620px;
        display: flex;
        justify-content: center;
    }

    #preview img {
        width: 315px;
        border-radius: 0.5em 0 0 0.5em;
    }                           
    
    #text {
      align-self: center;
    }
    }
  
  
  
  
  #text {
    padding: 1em;
  }
  
  #text div {
    margin: 1em 0;
  }
  
  #text .type {
    letter-spacing: 0.5em
  }
  
  #text .name {
    color: black;
    margin: 0;
    font-size: 36px;
    font-weight: bold;
  }
  
  .description {
    line-height: 2em;
  }
  
  .price {
    display: flex;
    align-items: center;
  }
  
  .price span:first-of-type {
    font-size: 32px;
    font-weight: bold;
    color: hsl(158, 36%, 37%);
  }
  
  .price span:last-of-type {
    margin-left: 10px;
    text-decoration: line-through;
  }
  
  .add {
    width: -webkit-fill-available;
    padding: 1em;
    border: none;
    border-radius: 0.5em;
    background: hsl(158, 36%, 37%);
    color: white;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: all 200ms ease 50ms;
  }
  
  .add:hover {
    background: hsl(159, 36%, 19%);
    
  }
  
  .add img {
    vertical-align: middle;
    margin: 0 10px;
  }
  